# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js build
.next/
out/
dist/

# Anchor
target/
**/*.log

# Environments
.env
.env.local
.env.*.local

# Mac OS
.DS_Store

# Optional: local database/dev files
.vscode/
.idea/
*.sqlite

# Optional: system folders
coverage/
.cache/
